inflect==7.4.0
more-itertools==10.5.0
networkx==3.4.2
numpy==2.2.0
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.17.0
tqdm==4.67.1
typeguard==4.4.1
typing_extensions==4.12.2
tzdata==2024.2
